

body {
  margin: 0;
}

.sheet {
  /* ページ（シート）毎に改ページする */
  page-break-after: always;
  box-sizing: border-box;
  overflow: hidden;
}

/* 用紙サイズに合わせてシートのサイズを定義 */
.A3 .sheet {
  width: 297mm;
  /* 用紙サイズちょうどだと、なぜか溢れてしまうので 1mm ほど小さくする */
  height: 419mm; /* 420mm */
}

.A4 .sheet {
  width: 210mm;
  height: 296mm; /* 297mm */
}

.A5 .sheet {
  width: 148mm;
  height: 209mm; /* 210mm */
}

@page {
  /*
   * 余白を0にすると、ブラウザが勝手に印字するヘッダーとかを削除できる。
   * ただし、Chrome/Firefox のみ
   */
  margin: 0;
}

@media print{
  .sheet {
    /* 背景を印字できるようにする。ただし Chrome のみ */
    -webkit-print-color-adjust: exact;
  }
}

/* プレビュー画面スタイル */
@media screen {
  body {
    background: #eee;
  }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}
p {
    padding: 0;
  }
  
  .invoice {
    padding: 70px 50px 50px 50px;
    font-size: 13px;
  }
  
  .invoice .header {
    margin-bottom: 40px;
  }
  
  .invoice .details {
    margin-bottom: 50px;
  }
  
  .invoice .header .meta p {
    text-align: right;
  }
  
  .invoice h1 {
    text-align: center;
    font-size: 32px;
  }
  
  .invoice .recipients-sender {
    display: flex;
  }
  
  .invoice .sender {
    width: 45%;
  }
  
  .invoice .recipients {
    width: 55%;
  }
  
  .invoice .sender .sender-logo img {
    max-width: 70%;
  }
  
  .invoice .recipients .recipient-name {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 20px;
  }
  
  .invoice .recipients .message {
    margin: 15px 0;
  }
  
  .invoice .recipients .total-amount {
    display: flex;
    width: 80%;
    font-size: 17px;
    justify-content: space-between;
    border-bottom: 1px solid #000;
  }
  
  .invoice .sender .sender-logo {
    margin-bottom: 20px;
  }
  
  .invoice .sender .sender-name {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .invoice .sender .sender-address {
    font-size: 12px;
  }
  
  .invoice .details table {
    width: 100%;
    border-collapse: collapse;
    height: 250px;
  }
  
  .invoice .details th {
    border: 1px solid #000;
    font-size: 14px;
    background-color: #d9d8d8;
  }
  
  .invoice .details td {
    border: 1px solid #000;
    padding: 0 10px;
  }
  
  .invoice .details .name {
    width: 50%;
  }
  
  .invoice .details .quantity {
    text-align: right;
  }
  
  .invoice .details .unit-price {
    text-align: right;
  }
  
  .invoice .details .amount {
    text-align: right;
  }
  
  .invoice .details .blank {
    border: 0
  }